/*Geral*/
.botao-voltar {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 8px 12px;
    background-color: rgb(17, 14, 20);
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    border: none;
}
h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 70px;
    line-height: 1;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 500px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
.londrinensetechaulas {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aula 11*/
.layout-aula11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 113px;
}
.LTAula11 {
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    height: 466px;
    object-fit: cover;
    width: 400px;
}

/*Aula 12*/
.layout-aula12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 146px;
}
.LTAula12 {
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    height: 433px;
    object-fit: cover;
    width: 400px;
}

/*Aula 13*/
.layout-aula13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 146px;
}
.LTAula13 {
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    height: 433px;
    object-fit: cover;
    width: 400px;
}

/*Aula 14*/
.layout-aula14 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 169px;
}
.LTAula14 {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    height: 400px;
    object-fit: cover;
    width: 400px;
}

/*Aula 15*/
.layout-aula15 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 146px;
}
.LTAula15 {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    height: 423px;
    object-fit: cover;
    width: 400px;
}

/*Aula 16*/
.layout-aula16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 146px;
}
.LTAula16 {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    height: 423px;
    object-fit: cover;
    width: 400px;
}