h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 70px;
    line-height: 1;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.projetointerdisciplinar {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 500px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 23px;
    margin: 0px;
    color: white;
}

h5 {
    margin: 0px;
    color: white;
}

p {
    font-size: medium;
    color: white;
}

.layout-materias {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 2500px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 00px;
    margin-bottom: 0;
    unicode-bidi: isolate;
    width: 800px;
}

.box-materia {
    display: block;
    padding: 25px;
    border: 3px solid white;
    border-radius: 30px;
    margin: 10px;
    background-color: rgb(17, 14, 20);
    box-shadow: 3px 3px 8px white;
}