h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 4.375rem;
    line-height: 1;
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.projetointerdisciplinar {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    margin-right: 31.25rem;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 1.4375rem;
    margin: 0rem;
    color: white;
}

h5 {
    margin: 0rem;
    color: white;
}

p {
    font-size: medium;
    color: white;
}

.layout-materias {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    margin-right: 0rem;
    margin-bottom: 0;
    unicode-bidi: isolate;
    width: 50rem;
}

.box-materia {
    display: block;
    padding: 1.5625rem;
    border: 3px solid white;
    border-radius: 1.875rem;
    margin: 0.625rem;
    background-color: rgb(17, 14, 20);
    box-shadow: 3px 3px 8px white;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 3rem;
        margin-left: 1.875rem;
    }

    .projetointerdisciplinar {
        font-size: 1.125rem;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    .layout-materias {
        width: 90%;
        max-width: 50rem;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
        margin-left: 1.25rem;
    }

    .projetointerdisciplinar {
        font-size: 1rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    .layout-materias {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .box-materia {
        padding: 0.9375rem;
        margin: 0.5rem;
    }
}