body {
    background-color: rgb(17, 14, 20);
    color: var(--texto-lilac);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    align-items: center;
    padding: 10px 20px;
    color: white;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: bold;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.3s;
}

.navbtn {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px;
}

.pagina-ativa {
    border-bottom: #4f0160 2px solid !important;
    color: #4f0160 !important;
    font-weight: bold;
}

footer a {
    color: white;
    padding: 2px;
    text-decoration: none;
}

#rodape-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 10px;
    flex: 1;
}

.icones-sociais {
    display: flex;
    gap: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: weight;
    padding: 10px 20px;
}

.copyright {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: weight;
    padding: 10px 20px;
}

@media (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
        padding: 10px;
        gap: 8px;
    }

    .navbtn {
        padding: 6px;
        font-size: 14px;
    }

    #rodape-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}